<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/static/groups/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/static/groups/script.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Muli|Montserrat|Maven+Pro|Karla' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="content container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!--a class="navbar-brand karla" href="#mon">Small Groups by Day</a-->
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active nav_day"><a href="#mon">Monday</a></li>
              <li><a href="#tue" class="nav_day">Tuesday</a></li>
              <li><a href="#wed" class="nav_day">Wednesday</a></li>
              <li><a href="#thu" class="nav_day">Thursday</a></li>
              <li><a href="#fri" class="nav_day">Friday</a></li>
              <li><a href="#sat" class="nav_day">Saturday</a></li>
              <li><a href="#sun" class="nav_day">Sunday</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="mon" class="row group_day">
        <h2 class="karla group_day_title">Monday Groups</h2>
        {% if groups.Mon|length == 0 %}
        <div class="smallgroup">
          <div class="group_info container-fluid">
            <h4 class="karla">No Groups on this Day</h4>
          </div>
        </div>
        {% endif %}
        {% for group in groups.Mon %}
        <div class="smallgroup">
          <div class="group_info container-fluid">
            <h3 class="karla">{{ group.name }}</h3>
            <input type="button" data-group_id={{ group.id }} value="Sign Up" class="group_sign_up_btn btn btn-default"/>
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <a  class="thumbnail">
                  <img src="{{ MEDIA_URL }}{{ group.picture }}" class="leader_thumbnail">
                </a>
              </div>
              <div class="col-md-4 col-sm-9 info">
                <table>
                  {% if group.style %}
                  <tr><td>Type</td><td>{{ group.style }}</td></tr>
                  {% endif %}
                  <tr><td>Open to</td><td>{{ group.group_type }}</td></tr>
                  {% if group.book %}
                  <tr><td>Book</td><td>{{ group.book }}</td></tr>
                  {% endif %}
                  <tr><td>Leader</td><td>{{ group.leader.name }}</td></tr>
                  {% if group.leader2 %}
                  <tr><td>Leader</td><td>{{ group.leader2.name }}</td></tr>
                  {% endif %}
                  {% if group.leader3 %}
                  <tr><td>Leader</td><td>{{ group.leader3.name }}</td></tr>
                  {% endif %}
                  <tr><td>Time</td><td>{{ group.time }}</td></tr>
                  {% if group.location %}
                  <tr><td>Location</td><td>{{ group.location }}</td></tr>
                  {% endif %}
                  <tr><td>Address</td><td>{{ group.address }}</td></tr>
                </table>
              </div>
              <div class="col-md-9 col-md-offset-3 col-sm-12 description">
                <p>{{ group.description }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="tue" class="row group_day">
        <h2 class="karla group_day_title">Tuesday Groups</h2>
        {% if groups.Tue|length == 0 %}
        <div class="smallgroup">
          <div class="group_info container-fluid">
            <h4 class="karla">No Groups on this Day</h4>
          </div>
        </div>
        {% endif %}
        {% for group in groups.Tue %}
        <div class="smallgroup">
          <div class="group_info container-fluid">
            <h3 class="karla">{{ group.name }}</h3>
            <input type="button" data-group_id={{ group.id }} value="Sign Up" class="group_sign_up_btn btn btn-default"/>
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <a  class="thumbnail">
                  <img src="{{ MEDIA_URL }}{{ group.picture }}" class="leader_thumbnail">
                </a>
              </div>
              <div class="col-md-4 col-sm-9 info">
                <table>
                  {% if group.style %}
                  <tr><td>Type</td><td>{{ group.style }}</td></tr>
                  {% endif %}
                  <tr><td>Open to</td><td>{{ group.group_type }}</td></tr>
                  {% if group.book %}
                  <tr><td>Book</td><td>{{ group.book }}</td></tr>
                  {% endif %}
                  <tr><td>Leader</td><td>{{ group.leader.name }}</td></tr>
                  {% if group.leader2 %}
                  <tr><td>Leader</td><td>{{ group.leader2.name }}</td></tr>
                  {% endif %}
                  {% if group.leader3 %}
                  <tr><td>Leader</td><td>{{ group.leader3.name }}</td></tr>
                  {% endif %}
                  <tr><td>Time</td><td>{{ group.time }}</td></tr>
                  {% if group.location %}
                  <tr><td>Location</td><td>{{ group.location }}</td></tr>
                  {% endif %}
                  <tr><td>Address</td><td>{{ group.address }}</td></tr>
                </table>
              </div>
              <div class="col-md-9 col-md-offset-3 col-sm-12 description">
                <p>{{ group.description }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="wed" class="row group_day">
        <h2 class="karla group_day_title">Wednesday Groups</h2>
        {% if groups.Wed|length == 0 %}
        <div class="smallgroup">
          <div class="group_info container-fluid">
            <h4 class="karla">No Groups on this Day</h4>
          </div>
        </div>
        {% endif %}
        {% for group in groups.Wed %}
        <div class="smallgroup">
          <div class="group_info container-fluid">
            <h3 class="karla">{{ group.name }}</h3>
            <input type="button" data-group_id={{ group.id }} value="Sign Up" class="group_sign_up_btn btn btn-default"/>
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <a  class="thumbnail">
                  <img src="{{ MEDIA_URL }}{{ group.picture }}" class="leader_thumbnail">
                </a>
              </div>
              <div class="col-md-4 col-sm-9 info">
                <table>
                  {% if group.style %}
                  <tr><td>Type</td><td>{{ group.style }}</td></tr>
                  {% endif %}
                  <tr><td>Open to</td><td>{{ group.group_type }}</td></tr>
                  {% if group.book %}
                  <tr><td>Book</td><td>{{ group.book }}</td></tr>
                  {% endif %}
                  <tr><td>Leader</td><td>{{ group.leader.name }}</td></tr>
                  {% if group.leader2 %}
                  <tr><td>Leader</td><td>{{ group.leader2.name }}</td></tr>
                  {% endif %}
                  {% if group.leader3 %}
                  <tr><td>Leader</td><td>{{ group.leader3.name }}</td></tr>
                  {% endif %}
                  <tr><td>Time</td><td>{{ group.time }}</td></tr>
                  {% if group.location %}
                  <tr><td>Location</td><td>{{ group.location }}</td></tr>
                  {% endif %}
                  <tr><td>Address</td><td>{{ group.address }}</td></tr>
                </table>
              </div>
              <div class="col-md-9 col-md-offset-3 col-sm-12 description">
                <p>{{ group.description }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="thu" class="row group_day">
        <h2 class="karla group_day_title">Thursday Groups</h2>
        {% if groups.Thu|length == 0 %}
        <div class="smallgroup">
          <div class="group_info container-fluid">
            <h4 class="karla">No Groups on this Day</h4>
          </div>
        </div>
        {% endif %}
        {% for group in groups.Thu %}
        <div class="smallgroup">
          <div class="group_info container-fluid">
            <h3 class="karla">{{ group.name }}</h3>
            <input type="button" data-group_id={{ group.id }} value="Sign Up" class="group_sign_up_btn btn btn-default"/>
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <a  class="thumbnail">
                  <img src="{{ MEDIA_URL }}{{ group.picture }}" class="leader_thumbnail">
                </a>
              </div>
              <div class="col-md-4 col-sm-9 info">
                <table>
                  {% if group.style %}
                  <tr><td>Type</td><td>{{ group.style }}</td></tr>
                  {% endif %}
                  <tr><td>Open to</td><td>{{ group.group_type }}</td></tr>
                  {% if group.book %}
                  <tr><td>Book</td><td>{{ group.book }}</td></tr>
                  {% endif %}
                  <tr><td>Leader</td><td>{{ group.leader.name }}</td></tr>
                  {% if group.leader2 %}
                  <tr><td>Leader</td><td>{{ group.leader2.name }}</td></tr>
                  {% endif %}
                  {% if group.leader3 %}
                  <tr><td>Leader</td><td>{{ group.leader3.name }}</td></tr>
                  {% endif %}
                  <tr><td>Time</td><td>{{ group.time }}</td></tr>
                  {% if group.location %}
                  <tr><td>Location</td><td>{{ group.location }}</td></tr>
                  {% endif %}
                  <tr><td>Address</td><td>{{ group.address }}</td></tr>
                </table>
              </div>
              <div class="col-md-9 col-md-offset-3 col-sm-12 description">
                <p>{{ group.description }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="fri" class="row group_day">
        <h2 class="karla group_day_title">Friday Groups</h2>
        {% if groups.Fri|length == 0 %}
        <div class="smallgroup">
          <div class="group_info container-fluid">
            <h4 class="karla">No Groups on this Day</h4>
          </div>
        </div>
        {% endif %}
        {% for group in groups.Fri %}
        <div class="smallgroup">
          <div class="group_info container-fluid">
            <h3 class="karla">{{ group.name }}</h3>
            <input type="button" data-group_id={{ group.id }} value="Sign Up" class="group_sign_up_btn btn btn-default"/>
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <a  class="thumbnail">
                  <img src="{{ MEDIA_URL }}{{ group.picture }}" class="leader_thumbnail">
                </a>
              </div>
              <div class="col-md-4 col-sm-9 info">
                <table>
                  {% if group.style %}
                  <tr><td>Type</td><td>{{ group.style }}</td></tr>
                  {% endif %}
                  <tr><td>Open to</td><td>{{ group.group_type }}</td></tr>
                  {% if group.book %}
                  <tr><td>Book</td><td>{{ group.book }}</td></tr>
                  {% endif %}
                  <tr><td>Leader</td><td>{{ group.leader.name }}</td></tr>
                  {% if group.leader2 %}
                  <tr><td>Leader</td><td>{{ group.leader2.name }}</td></tr>
                  {% endif %}
                  {% if group.leader3 %}
                  <tr><td>Leader</td><td>{{ group.leader3.name }}</td></tr>
                  {% endif %}
                  <tr><td>Time</td><td>{{ group.time }}</td></tr>
                  {% if group.location %}
                  <tr><td>Location</td><td>{{ group.location }}</td></tr>
                  {% endif %}
                  <tr><td>Address</td><td>{{ group.address }}</td></tr>
                </table>
              </div>
              <div class="col-md-9 col-md-offset-3 col-sm-12 description">
                <p>{{ group.description }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="sat" class="row group_day">
        <h2 class="karla group_day_title">Saturday Groups</h2>
        {% if groups.Sat|length == 0 %}
        <div class="smallgroup">
          <div class="group_info container-fluid">
            <h4 class="karla">No Groups on this Day</h4>
          </div>
        </div>
        {% endif %}
        {% for group in groups.Sat %}
        <div class="smallgroup">
          <div class="group_info container-fluid">
            <h3 class="karla">{{ group.name }}</h3>
            <input type="button" data-group_id={{ group.id }} value="Sign Up" class="group_sign_up_btn btn btn-default"/>
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <a  class="thumbnail">
                  <img src="{{ MEDIA_URL }}{{ group.picture }}" class="leader_thumbnail">
                </a>
              </div>
              <div class="col-md-4 col-sm-9 info">
                <table>
                  {% if group.style %}
                  <tr><td>Type</td><td>{{ group.style }}</td></tr>
                  {% endif %}
                  <tr><td>Open to</td><td>{{ group.group_type }}</td></tr>
                  {% if group.book %}
                  <tr><td>Book</td><td>{{ group.book }}</td></tr>
                  {% endif %}
                  <tr><td>Leader</td><td>{{ group.leader.name }}</td></tr>
                  {% if group.leader2 %}
                  <tr><td>Leader</td><td>{{ group.leader2.name }}</td></tr>
                  {% endif %}
                  {% if group.leader3 %}
                  <tr><td>Leader</td><td>{{ group.leader3.name }}</td></tr>
                  {% endif %}
                  <tr><td>Time</td><td>{{ group.time }}</td></tr>
                  {% if group.location %}
                  <tr><td>Location</td><td>{{ group.location }}</td></tr>
                  {% endif %}
                  <tr><td>Address</td><td>{{ group.address }}</td></tr>
                </table>
              </div>
              <div class="col-md-9 col-md-offset-3 col-sm-12 description">
                <p>{{ group.description }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="sun" class="row group_day">
        <h2 class="karla group_day_title">Sunday Groups</h2>
        {% if groups.Sun|length == 0 %}
        <div class="smallgroup">
          <div class="group_info container-fluid">
            <h4 class="karla">No Groups on this Day</h4>
          </div>
        </div>
        {% endif %}
        {% for group in groups.Sun %}
        <div class="smallgroup">
          <div class="group_info container-fluid">
            <h3 class="karla">{{ group.name }}</h3>
            <input type="button" data-group_id={{ group.id }} value="Sign Up" class="group_sign_up_btn btn btn-default"/>
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <a  class="thumbnail">
                  <img src="{{ MEDIA_URL }}{{ group.picture }}" class="leader_thumbnail">
                </a>
              </div>
              <div class="col-md-4 col-sm-9 info">
                <table>
                  {% if group.style %}
                  <tr><td>Type</td><td>{{ group.style }}</td></tr>
                  {% endif %}
                  <tr><td>Open to</td><td>{{ group.group_type }}</td></tr>
                  {% if group.book %}
                  <tr><td>Book</td><td>{{ group.book }}</td></tr>
                  {% endif %}
                  <tr><td>Leader</td><td>{{ group.leader.name }}</td></tr>
                  {% if group.leader2 %}
                  <tr><td>Leader</td><td>{{ group.leader2.name }}</td></tr>
                  {% endif %}
                  {% if group.leader3 %}
                  <tr><td>Leader</td><td>{{ group.leader3.name }}</td></tr>
                  {% endif %}
                  <tr><td>Time</td><td>{{ group.time }}</td></tr>
                  {% if group.location %}
                  <tr><td>Location</td><td>{{ group.location }}</td></tr>
                  {% endif %}
                  <tr><td>Address</td><td>{{ group.address }}</td></tr>
                </table>
              </div>
              <div class="col-md-9 col-md-offset-3 col-sm-12 description">
                <p>{{ group.description }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
