<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/groups/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/static/groups/script.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Muli|Montserrat|Maven+Pro|Karla' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="content container">
      <div class="welcome row">
        <h1 class="text-center karla">Thank you for signing up!</h1>
        <h3 class="text-center karla">You should be hearing from us soon! But if you don't, feel free to come by the connections table and say hi!</h3>
      </div>
    </div>
  </body>
</html>