
.karla {
  font-family: 'Karla', sans-serif;
}

.content {
  background-color: #F0FFFF;
  height: 100vh;
}

.welcome {
  margin-top: 30vh;
}

.grouptypes {
  padding: 40px 64px;
}

.grouptypes > div > input {
  margin: 24px 0px;
}

#central_campus {
  font-size: 40px;
}

.group_day {
  background-color: #F0FFFF;
  //background-color: #FFFFF0;
}

.smallgroup {
  padding: 0px 20px;
}

.group_day_title {
  padding-top: 34px;
  padding-left: 20px;
}

.group_info {
  width: 100%;
  border-radius: 10px;
  background-color: #E4FFFF;
  margin-bottom: 10px;
}

.group_info > * {
  padding: 10px;
}